body{
    font-family: Arial, sans-serif;
    /* background-color: #f2f7ff; */
    background-color: #beddfb;
    padding: 40px;
}

#name{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.container{
    max-width: 450px;
    margin: auto;
    background-color: #ffffff;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2{
    text-align: center;
    color: #0d0d0d;
}

subject-list label{
    text-align: left;
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}

.total-box{
    background: #e8f0ff;
    padding: 10px;
    font-size: 16px;
    margin: 15px 0;
    border-radius: 5px;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #2ec0ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
